<?xml version="1.0" encoding="utf-8"?>
<!-- NuGet 套件快取改放在專案資料夾內(D:\Simosa BRM\.cache\nuget),不寫到 C:\Users -->
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".cache/nuget/packages" />
    <add key="http-cache" value=".cache/nuget/http" />
    <add key="plugins-cache" value=".cache/nuget/plugins" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
